:root {
    --thermometer: 0%;
    --man-left-margin: 0;
}
/* Structure */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}


#ex1, 
#ex2{
    background-color: orangered;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

#fdr{
    padding-left: 15px;
}

/*gradient*/
#gradient {
    width: 150px;
    height: 500px;
    margin: auto;
    background: linear-gradient(0deg, black var(--thermometer), white var(--thermometer) 100%);
}

/* animation */

.animate {
    position: relative;
    animation-name: running;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


/*Large Resolution */

@media only screen and (min-width: 900px){
    .flex-container{
        flex-direction: row;
    }
    #flex-container{
        width: 50vi;
    }
    #thereometer
}