/* Structure */
body {
    background-color: #E0AD36;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url(https://i.pinimg.com/originals/6d/37/4b/6d374b9476f190ff9c7d8d4502b5a436.jpg);
}

#content {
    background-color: #E0AD36;
    width: 75%;
    margin: auto;
    padding: 0 5px;
    border-radius: 5px;
}

/* Navigation */


#main-nav a{
    text-decoration: none;
    background: #FF7C0E;
    color:blue;
    padding: 5px;
    border-radius:  4px;
}

#main-nav a:hover {
    background-color: green;
}


/* Table */
td,th {
    border: 1px solid black;
    padding: 4px;
    background-color: white;
}

th{
    background: yellow;
}

th{
    background: greenyellow;
}

table{
    border-collapse: collapse;
}
/* Typography */

h1{
    color: #2421B8;
    font-style: italic;
}

h2{
    color: #CC2F41;
}

#l-table {
    font-style: italic;
}

strong {
    color: orangered;
}

.large{
    font-size: 25px;
}

/* Images */

img {
    padding: 7px;
    margin: 7px;
    border: 10px solid brown;
    width: 400px;
    height: 300px;
}