body{
    background-color: red;
}

h1{
    text-align: center;
}
h3{
    text-align: center;
}
section{
    display: inline-block;
    width: 330px;
    height: 500px;
    margin: 50px;
    background-color: salmon;
}

img{
    max-width: 90%;
    justify-content: center;
    height: 250px;
    width: 250px;
}