:root{
    --primary: red;
    --secondary: white;
}
/*sign up */
form{
    text-align: left;
}


form input:not([type="checkbox"]):not([type="radio"]),
form textarea,
form button,
select{
    font-size: 0.75em;
    padding: 5px;
    width: 200px;
}
#form-signup {
    margin-bottom: 1%;
}
input[type="radio"]{
    margin-right: 10px;
    height: 20px;
    width: 20px;
}
input[type="radio"],
input[type="checkbox"] {
    margin-right: 20px;
    height: 20px;
    width: 20px;
    padding: 5px;
}
#google-map{
    display: block;
    padding: 5px;
    max-width: 100%;
    width: 40%;
    margin: 0 2%;
}

.inline{
    display: inline;
}

/* Structure */
body{
    font-family: 'Times New Roman', Times, serif;
    background: #E65091;
}

#footer{
    margin-top: auto;
}

#main-footer{
    margin: auto;
    width: auto;
    padding: 5px;
    background-color: peachpuff;
    text-align: center;
}

#main-content{
    background-color:coral;
    height: 650px;

}


#main-nav ul{
    padding-left: 0px;
    list-style-type: none;
}

#main-nav li{
    background: var(--secondary);
    padding: 10px;
    margin: 2px 0;
    text-align: center;
}
#main-nav a{
    text-decoration: none;
    color: var(--primary);
}
a:link {
    text-decoration: none;
    color: brown;
}
.boxes{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    text-align: center;
    width: 27%;
    padding: 20px;
    margin: 20px;
    background: blanchedalmond;
}
.box img{
    max-width: 90%;
}


/* Hamburger Menu */
#nav-toggle div {
    width: 35px;
    height: 5px;
    background-color: var(--primary);
    margin: 6px 0;
}

/*Typography */
#main-header{
    background-color: black;
}

h1{
    color: red;
    text-align: center;
}
h2{
    background-color: coral;
    text-align: center;
}
#main-nav-items{
    font-size:1.2em;
}

.hidden{
    display: none;
}
    label{
       display: inline-block ;
       text-align: left;
    }
li{
    list-style-type: none;
    list-style: none;
}
/* Input */
input
{
    display: block;
}

/*label span
{
    display: inline-block;
    text-align: right;
    width: 100px;
}*/

/* Comment Ids */
#submit-button{
    align-content: center;
}
#submit {
    background-color: red;
}
#submit h3{
    color: black;
    background-color: maroon;
    text-align: left;
}

#box img{
    height: 300px;
    width: 250px;
}
/* flexing */
.flexr{
    text-align: center;
    background-color: #FF2400;
}
.flexs{
    text-align: center;
    background-color: #FF2400;
    
}
.flexw{
    text-align: center;
    background-color: white;
}


/* Items Dropdown Menu */
.drop-button{
    padding: 15px;
    font-size: 15px;
    background-color: hotpink;
    color: white;
    border: none;
    cursor: pointer;
}

.drop-button:hover, 
.drop-button:focus{
    background-color: violet;
}

#input{
    background-image: url('searchicon.png');
    box-sizing: border-box;
    background-position: 15px 13px;
    background-repeat: no-repeat;
    font-size: 15px; 
    padding: 15px 22px 12px 47px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#input:focus {
    outline: 3px solid #ddd;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dd-content{
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dd-content a{
    color: black; 
    padding: 12px 16px;
    text-decoration: none; 
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}
.display {
    display: block;
}
/*smaller resolution */

@media(min-width: 900px){
    .flex-container,
    #main-nav-items{
        display: flex;
    }
    #main-nav-items li{
        flex:1;
    }
    #main-nav-items a{
        border-bottom: 2px solid transparent
    }
    #main-nav-items a:hover{
        border-bottom: 2px solid var(--primary);
    }
    #nav-toggle{
        display: none;
    }
    .flex-container{
        justify-content: space-between;
    }
    .col1of2{
        flex:1;
    }
}