/*Structure */

body{
    font-family: 'Times New Roman', Times, serif;
    background: url(https://wallpapercave.com/wp/wp2004258.jpg);
}

.member {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: red;
    border-radius: 5px;
}

.member img {
    max-width: 70%;
    max-height: 200px;
    display: block;
    margin: auto;
}

.member-details {
    width: 300px;
    height: 100px;
}

#member-details-column {
    padding: 10px;
    margin: 10px;
    background: red;
    border-radius: 5px;
}

#add-link {
    font-size: 2em;
    border: 1px solid red;
}

#edit-link {
    float: right;
    margin-right: 10px;
}

#delete-link {
    float: right;
}

#add-edit-member-container{
    padding: 10px;
    margin: 10px;
    background: red;
    border-radius: 5px;
}


/* Form */

label {
    display: block;
}

.inline{
    display: inline;
}

#awards-p input {
    margin-top: 5px;
}

#add-award {
    font-size: 0.75em;
    text-align: right;
}

/* Modal Dialog */

#modal-background {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */

.dialog {
    background-color: white;
    margin: auto; 
    padding: 20px;
    border: 1px solid black;
    width: 100%;
}

.dialog img {
    max-width: fit-content;
    display: block;
    padding: 30px 5px 30px 30px;
    margin: auto;
}

/* The Close Button */

.close{
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*Typography */
h1{
    text-align: center;
    color:red;
}
h2{
    text-align: center;
    color: black;
}

#main-nav-items {
    font-size: 1.2em;
}

#main-nav ul{
    padding-left: 0px;
    list-style-type: none;
}

#main-nav li{
    background: white;
    padding: 10px;
    margin: 2px 0;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}

.hidden{
    display: none;
}

.transparent {
    opacity: 0;
}

/* column */
.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.two-columns div {
    flex: 1;
    justify-content: center;
}

/* navigation */

#nav-toggle div {
    width: 35px;
    height: 5px;
    background-color: red;
    margin: 6px 0;
}

#main-nav-items{
    font-size:1.2em;
}

/* Items Dropdown Menu */
.drop-button{
    padding: 15px;
    font-size: 15px;
    background-color: hotpink;
    color: white;
    border: none;
    cursor: pointer;
}

.drop-button:hover, 
.drop-button:focus{
    background-color: violet;
}

#input{
    background-image: url('searchicon.png');
    box-sizing: border-box;
    background-position: 15px 13px;
    background-repeat: no-repeat;
    font-size: 0.75em; 
    padding: 15px 22px 12px 47px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#input:focus {
    outline: 3px solid #ddd;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dd-content{
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dd-content a{
    color: black; 
    padding: 12px 16px;
    text-decoration: none; 
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}
.display {
    display: block;
}
#main-content{
    background-color:coral;
    height: 650px;

}

#main-header{
    background-color: black;
}

#main-nav ul{
    padding-left: 0px;
    list-style-type: none;
}

#main-nav li{
    background:white;
    padding: 10px;
    margin: 2px 0;
    text-align: center;
}
#main-nav a{
    text-decoration: none;
    color: red;
}
a:link {
    text-decoration: none;
    color: brown;
}
.boxes{
    display:flex;
    flex-wrap: wrap;
    justify-content: left;
}
/*smaller resolution */

/*Larger Resolution */
@media (min-width: 600px) {
    .columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .two-columns div {
        flex: 1;
        justify-content: center;
    }
    .member{
        width: 30%;
        justify-content: center;
    }
    #add-edit-member-container{
        background-color: red;
        max-width: 30%;
        margin: auto;
    }
    @media(min-width: 900px){
        .flex-container,
        #main-nav-items{
            display: flex;
        }
        #main-nav-items li{
            flex:1;
        }
        #main-nav-items a{
            border-bottom: 2px solid transparent
        }
        #main-nav-items a:hover{
            border-bottom: 2px solid var(--primary);
        }
        #nav-toggle{
            display: none;
        }
        .flex-container{
            justify-content: space-between;
        }
        .col1of2{
            flex:1;
        }
        #google-map{
            height: 200px;
            width: 400px; 
        }
        .info-section {
            background-color: coral;
            font-size: 15px;
            flex: 1;
        }
        .info-section section{
            padding: 0 10px;
            margin: 0 10px;
            flex: 1;
        }
        .flexbox{
            flex-direction: row;
        }
    }
}