/*root */
:root{
    --primary: black;
    --secondary: royalblue;
}

/*Structure */
body{
    background-color: var(--primary);
    display: flex;
}

/*flex-container */
.flexbox{
    font-family: 'Times New Roman', Times, serif;    
    background-color: var(--secondary);
    padding: 10px;
    margin: 20px;
    border-radius: 2px;
    flex: 1;
}

/*Typogrpahy */
h1{
    text-align: center;
}

/* Quotes */
#quotes{
    padding-left: 15px;
}

.hide{
    display: none;
}

/* Draw Rainbow */
#display-button{
    background-color: var(--primary);
    color: var(--secondary);
    margin-left: 20px;
    border-radius: 5px;
}
.rainbow-fill{
    height: 20px;
    width: 40vw;
    transition: width 1s; 
    margin-left: 20px;
    position: relative;
    z-index: 1;
}

#image{
    display: none;
    max-width: 50px;
    position: relative;
    z-index: 2;
    top: -40px;
    padding-left: 728px;
}

/*Larger Resolution */
@media only screen and (max-width: 900px){
    #image{
        display: none;
        max-width: 50px;
        position: relative;
        z-index: 2;
        padding-left: 330px;
    }
}
