/* Structure */

body {
  background-color: azure;  
}

/* Tables */

td,th {
    border: 1px solid red;
    border-collapse: collapse;
}

/* Typography */

body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: gray;
}

h1{
    background-color: yellow;
    color: red;
}