/*root*/ 
.root{
    --primary: lightblue;
    --secondary: darkblue;
}
/*Structure */
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
}

section{
    background-color: darkblue;
    margin: 1%;
    padding: 1%;
}

/* flex-container */
.flexbox{
    display: flex;
    flex-direction: column;
}


/* Image */
img{
    transition: transform 0.2s;
    border: 5px darkblue solid;
    height: 250px;
    width: 250px;
}

img:hover{
    transform:  scale(1.25);
}

span{
    margin-left: 2%;
}


/* Smaller Resolution */
@media screen and (min-width: 600px){
    .flexbox {
        flex-direction: row;
    }
} 